/* CSS files add styling rules to your content */

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

:root {
  --blue: #1877f2;
}

.mt {
  margin-top: 10px;
}

.padded {
  margin: auto 20px;
}

@media (max-width: 600px) {
  .padded {
    margin: 5px;
  }
}

h1 {
  margin: 3px auto;
  text-align: center;
  font-family: "Rye", cursive;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.content-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-height: 560px) {
  .footer-container {
    position: absolute;
    width: 100%;
    bottom: 0;
  }
}


.footer {
  color: gray;
  padding-bottom: 11px;
  font-size: small;
}

.footer a {
  color: gray;
}

.footer>* {
  margin-top: 10px;
}

#loader {
  background-color: black;
  height: 20px;
  width: 0;
  margin: 15px 0;
}


@keyframes blinking {
  0% {
    background: black;
  }

  100% {
    background: var(--blue);
  }
}

.blinking {
  animation: blinking 1s infinite ease-in-out alternate;
}


#wordLengthInput {
    width: 40px;
    background: black;
    border: none;
    color: white;
    height: 20px;
    font-weight: bold;
    font-family: "Rye", cursive;
    margin-left: 5px;
    padding: 0 3px;
    text-align: center;
}

#word {
  height: 40px;
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#outLetters {
  margin: 3px auto;
  text-align: center;
  text-decoration: line-through;
  height: 1em;
}

#guess {
  margin: 3px auto;
  text-align: center;
  white-space: pre-line;
  line-height: 22px;
}

#guess b {
  font-family: "Rye", cursive;
  font-weight: normal;
}

.black-button {
  background: black;
  color: white;
  padding: 2px 6px;
  font-family: "Rye", cursive;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  height: 30px;
}

.black-button:focus {
  outline-color: var(--blue);
  outline-style: auto;
  outline-width: 1px;
}

#done {
  min-width: 15vmin;
  margin: 0 auto;
}

#done img {
  margin-left: 5px;
  height: 16px;
  filter: invert(1);
}

#word>button {
  margin: 0 5px;
  width: 30px;
  height: 35px;
  display: flex;
  border: none;
  background: none;
  font-family: "Rye", cursive;
  font-size: 20px;
  outline: none !important;
}

@media (max-width: 600px) {
  #word>button {
    margin: 0 5px;
    width: 10px;
    font-size: 20px;
  }
}

#word>button:focus,
#word>button:hover {
  color: var(--blue);
}

#refresh {
  height: 20px;
  outline: none !important;
  border: none;
  background: none;
}

#refresh img {
  height: 20px;
}

#refresh:focus img,
#refresh:hover img {
  filter: drop-shadow(0 0 3px var(--blue));
}


.stable-body-container {
  width: 30vmin;
  height: 41vmin;
  margin: 0 auto;
  position: relative;
  z-index: -1;
}


@keyframes hanging {
  0% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-20deg);
  }
}


#bodyContainer {
  top: 10vmin;
  margin: 0 auto;
  width: 10vmin;
  display: flex;
  position: relative;
  transform-origin: 4.5vmin 4w;
  animation: hanging 2s infinite ease-in-out alternate;
}

#bodyContainer>* {
  position: absolute;
}

#head {
  width: 5vmin;
  left: 1.5vmin;
  height: 5vmin;
  border-radius: 100%;
  border: 1vmin solid black;
  background: white;
}

#body {
  top: 6.1vmin;
  left: 4.5vmin;
  height: 14vmin;
  width: 1vmin;
  background: black;
}

@keyframes right-hand {
  0% {
    transform: rotate(100deg);
  }

  100% {
    transform: rotate(150deg);
  }
}

@keyframes left-hand {
  0% {
    transform: rotate(-100deg);
  }

  100% {
    transform: rotate(-150deg);
  }
}

#rightArm {
  top: 2vmin;
  left: 4.5vmin;
  height: 7vmin;
  width: 1vmin;
  background: black;
  animation: right-hand 1s infinite alternate;
  transform-origin: bottom center;
}

#leftArm {
  top: 2vmin;
  left: 4.5vmin;
  height: 7vmin;
  width: 1vmin;
  background: black;
  animation: left-hand 1s infinite alternate;
  transform-origin: bottom center;
}

#play {
  margin: 35px auto;
}

#howto {
  margin-bottom: 15px;
  font-size: large;
}

#howto li {
  margin-bottom: 6px;
}

#howto ol {
  text-align: left;
  max-width: 370px;
  justify-content: center;
  flex-flow: column;
  display: flex;
  margin: 15px auto;
}

.hide {
  display: none;
}

@keyframes right-leg {
  0% {
    transform: rotate(-40deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}

@keyframes left-leg {
  0% {
    transform: rotate(40deg);
  }

  100% {
    transform: rotate(10deg);
  }
}

#leftLeg {
  top: 20vmin;
  left: 4.5vmin;
  height: 9vmin;
  width: 1vmin;
  background: black;
  animation: left-leg 1s infinite alternate;
  transform-origin: top center;
}

#rightLeg {
  top: 20vmin;
  left: 4.5vmin;
  height: 9vmin;
  width: 1vmin;
  background: black;
  animation: right-leg 1s infinite alternate;
  transform-origin: top center;
}

@keyframes rope {
  0% {
    transform: rotate(5deg);
  }

  100% {
    transform: rotate(-5deg);
  }
}

#rope {
  position: absolute;
  top: -1vmin;
  left: 14.5vmin;
  height: 12vmin;
  width: 1vmin;
  background: black;
  animation: rope 2s infinite ease-in-out alternate;
  transform-origin: top center;
}
